.jumbotron {
  margin-top: 4rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

.Sosial-Media {
  display: flex;
  justify-content: center;
}

.Sosial-Media li {
  list-style: none;
  margin: 0 10px;
}
